#body {
    background-color: none;
    color: none;
}

#div {
    position: grid;
    margin: auto;
    width: 50%;
    text-align: center;
}

#backbutton {
    position: grid;
    margin: auto;
    text-align: center;
}

#bottomtext {
    position: absolute;
    bottom: 3vh;
    left: 0;
    width: 100%;
    text-align: center;
}

#darkmode {
    position: fixed;
    left: 50%;
    bottom: 7vh;
    transform: translateX(-50%);
}

#linkbutton {
    position: grid;
    margin: auto;
    text-align: center;
}

marquee {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

.video-container {
    width: 50vw;
    max-width: 640px;
    height: 50vh;
    max-height: 360px;
    aspect-ratio: 16 / 9;
    background-color: black;
}

#player {
    width: 100%;
    height: 100%;
    object-fit: contain;
}