<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>justplayitthx</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body id="body">
    <div id="div">
      <h1>justplayitthx</h1>
      <p>your potato can play youtube videos too!</p>
      <p>insert a youtube video link then click submit</p>
      <input type="text" id="link" placeholder="YouTube Video link"/>
      <input type="submit" id="submit" onclick="Submit()" />
      <select name="resolution" id="resolution">
        <option value="" selected disabled hidden>Select resolution</option>
        <option value="144">144p</option>
        <option value="240">240p</option>
        <option value="480">480p</option>
        <option value="720">720p</option>
        <option value="1080">1080p</option>
        <option value="1440">1440p</option>
        <option value="2160">2160p (4K)</option>
      </select>
      <input type="button" id="darkmode" value="Dark Mode" onclick="DarkMode()">
      <p id="bottomtext">justplayitthx version 2.2, nothavoc</p>
      <a id="bottomtext" href="https://nothavocc.github.io" target="_blank">my website</a>
      <marquee id="marquee" direction="right">Welcome!</marquee>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
