<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>justplayitthx</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/styles.css') }}"/>
  </head>
  <body id="body">
    <div id="div">
      <h1>justplayitthx</h1>
      <h2>{{title}}</h2>
      <div id="video-container">
        <video id="player" controls>
          <source src="{{ url_for('static', filename='videos/' + video_file) }}" type="video/mp4">
          Your browser does not support the video tag.
      </video>
      </div>
    <p id="response"></p>
      <input id="backbutton" type="button" value="back" onclick="HomePage()">
      <input id="linkbutton" type="button" value="original video" onclick="LinkPage()"> 
      <p id="bottomtext">justplayitthx version 2.3.1, nothavoc</p>
      <input type="button" id="darkmode" value="Dark Mode" onclick="DarkMode()">
      <a id="bottomtext" href="https://nothavocc.github.io" target="_blank">my website</a>
      <marquee id="marquee" direction="right">Welcome!</marquee>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
